fastapi
uvicorn
pydantic
scikit-learn
pandas
numpy
matplotlib
tensorflow
requests
streamlit
flask
python-dotenv
pytest
kagglehub
ipykernel
langchain_community
google-cloud-vision
azure-storage-blob
google-cloud-speech
google-cloud-core
grpcio
python-multipart
sounddevice
httpx
opencv-contrib-python-headless
