fastapi
uvicorn
pydantic
scikit-learn
pandas
numpy
matplotlib
tensorflow
requests
streamlit
flask
python-dotenv
pytest
google-cloud-speech
google-cloud-core
grpcio
python-multipart
sounddevice
google-cloud-vision
azure-storage-blob